*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma, Geneva, sans-serif;
}

body{

    background:
    linear-gradient(rgba(255,255,255,.18),rgba(255,255,255,.18)),
    url("https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=1400&q=80");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

    min-height:100vh;
}

.window{

    width:470px;

    background:#d4d0c8;

    border-top:2px solid white;
    border-left:2px solid white;

    border-right:2px solid #404040;
    border-bottom:2px solid #404040;

    box-shadow:8px 8px 25px rgba(0,0,0,.35);

}

.title-bar{

    background:linear-gradient(to right,#0a246a,#1084d0);

    color:white;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:6px 8px;

    font-weight:bold;

    user-select:none;

}

.window-buttons{

    display:flex;
    gap:4px;

}

.window-buttons button{

    width:24px;
    height:22px;

    padding:0;

    background:#d4d0c8;

    color:black;
    cursor: pointer;

    border-top:2px solid white;
    border-left:2px solid white;

    border-right:2px solid #404040;
    border-bottom:2px solid #404040;


}

.container{

    padding:25px;

    text-align:center;

}

h1{

    color:#111;

    margin-bottom:10px;

    font-size:24px;

}

p{

    color:#444;

    margin-bottom:20px;

}

input{

    width:100%;

    padding:12px;

    margin-bottom:18px;

    background:white;

    border:2px inset gray;

    outline:none;

    font-size:15px;

}

input:focus{

    border-color:#1084d0;

}

.container > button{

    width:100%;

    padding:12px;

    font-size:16px;

    background:#d4d0c8;

    color:black;

    cursor:pointer;

    border-top:2px solid white;
    border-left:2px solid white;

    border-right:2px solid #404040;
    border-bottom:2px solid #404040;

}

.container > button:hover{

    background:#ece9d8;

}

.container > button:active{

    border-top:2px solid #404040;
    border-left:2px solid #404040;

    border-right:2px solid white;
    border-bottom:2px solid white;

}

#resultado{

    margin-top:30px;

}

#qrCode{

    display:none;

    width:230px;

    margin:auto;

    padding:12px;

    background:white;

    border-top:2px solid white;
    border-left:2px solid white;

    border-right:2px solid #404040;
    border-bottom:2px solid #404040;

}